.thumbnailbar {
  /* adding the CSS for the thumgnail bar I have put it at teh */
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgb(131, 85, 0);
  bottom: 3vh;
  padding: 5px;
  left: 50%;
  transform: translateX(-50%);
  gap: 5px;
}

.mainPictures img {
  /* Mainpictures bar I have not used media queires since this seems to acheive what I need to. */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}
